body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
    font-size: 20px;
}

table, caption, th, td {
    background-color: lightgrey;
    padding: 18px 10px 18px 10px;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    justify-content: center;
}

caption {
    text-transform: uppercase;
    border: 2px solid black;
    border-bottom: none;
}


table {
    border: 2px solid black;
    width: 60%;
}

th {
    border-bottom: 2px solid black;
}

td {
    width: 1%;
}

td:first-child, td:last-child{
    width: 0.1%;
    font-weight: 600;
    border-right: 2px solid black;
    border-left: 2px solid black;
}

th:first-child, th:last-child{
    width: 0.1%;
    border: 2px solid black;
}

.terem {
    display: block;
    font-size: medium;
}

.edzes {
    background-color: lightgreen;
}

.suli {
    background-color: lightskyblue;
}